body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

h1,
h2 {
    text-align: center;
}

.form-creation {
    text-align: center;
    margin-bottom: 20px;
}

#formName {
    padding: 10px;
    font-size: 16px;
    width: 300px;
}

#formList {
    list-style-type: none;
    padding: 0;
}

#formList li {
    background-color: #fff;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-evenly;
}

button {
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    border: none;
    background-color: #007BFF;
    color: #fff;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fff;
    padding: 5px 20px 20px 20px;
    border-radius: 5px;
    width: 80%;
    max-width: 600px;
    max-height: 80vh;
    overflow-y: auto;
}

input,
select,
textarea {
    padding: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    height: auto;
}

.form-div {
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    background: #ecedef;
    border-radius: 5px;
}

.form-div>label {
    padding: 5px;
}

.form-div>div>label>input[type="checkbox"] {
    margin-right: 10px;
}

.formViewModalActions {
    float: right;
    margin-top: 15px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.ml-10p {
    margin-left: 10px;
}

@media (max-width: 768px) {
    .container {
        width: 95%;
        padding: 10px;
    }

    #formList li {
        flex-direction: column;
        align-items: center;
    }

    button {
        width: 100%;
        max-width: 200px;
        margin: 5px 0;
    }

    .modal-content {
        width: 95%;
    }

    table {
        display: block;
        overflow-x: auto;
    }

    td,
    th {
        white-space: nowrap;
    }
}